<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditLoginPageTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditLoginPageLabel_email}" for="email" />
                    <h:inputText id="email" value="#{loginPageController.selected.email}" title="#{bundle.EditLoginPageTitle_email}" />
                    <h:outputLabel value="#{bundle.EditLoginPageLabel_lastName}" for="lastName" />
                    <h:inputText id="lastName" value="#{loginPageController.selected.lastName}" title="#{bundle.EditLoginPageTitle_lastName}" />
                    <h:outputLabel value="#{bundle.EditLoginPageLabel_firstName}" for="firstName" />
                    <h:inputText id="firstName" value="#{loginPageController.selected.firstName}" title="#{bundle.EditLoginPageTitle_firstName}" />
                    <h:outputLabel value="#{bundle.EditLoginPageLabel_id}" for="id" />
                    <h:inputText id="id" value="#{loginPageController.selected.id}" title="#{bundle.EditLoginPageTitle_id}" />
                </h:panelGrid>
                <h:commandLink action="#{loginPageController.update}" value="#{bundle.EditLoginPageSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditLoginPageViewLink}"/>
                <br />
                <h:commandLink action="#{loginPageController.prepareList}" value="#{bundle.EditLoginPageShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditLoginPageIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
