<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLoginPageTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListLoginPageEmpty}" rendered="#{loginPageController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{loginPageController.items.rowCount > 0}">
                    <h:outputText value="#{loginPageController.pagination.pageFirstItem + 1}..#{loginPageController.pagination.pageLastItem + 1}/#{loginPageController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{loginPageController.previous}" value="#{bundle.Previous} #{loginPageController.pagination.pageSize}" rendered="#{loginPageController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{loginPageController.next}" value="#{bundle.Next} #{loginPageController.pagination.pageSize}" rendered="#{loginPageController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{loginPageController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoginPageTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoginPageTitle_lastName}"/>
                            </f:facet>
                            <h:outputText value="#{item.lastName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoginPageTitle_firstName}"/>
                            </f:facet>
                            <h:outputText value="#{item.firstName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoginPageTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{loginPageController.prepareView}" value="#{bundle.ListLoginPageViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{loginPageController.prepareEdit}" value="#{bundle.ListLoginPageEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{loginPageController.destroy}" value="#{bundle.ListLoginPageDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{loginPageController.prepareCreate}" value="#{bundle.ListLoginPageCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListLoginPageIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
