<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewLoginPageTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewLoginPageLabel_email}"/>
                    <h:outputText value="#{loginPageController.selected.email}" title="#{bundle.ViewLoginPageTitle_email}"/>
                    <h:outputText value="#{bundle.ViewLoginPageLabel_lastName}"/>
                    <h:outputText value="#{loginPageController.selected.lastName}" title="#{bundle.ViewLoginPageTitle_lastName}"/>
                    <h:outputText value="#{bundle.ViewLoginPageLabel_firstName}"/>
                    <h:outputText value="#{loginPageController.selected.firstName}" title="#{bundle.ViewLoginPageTitle_firstName}"/>
                    <h:outputText value="#{bundle.ViewLoginPageLabel_id}"/>
                    <h:outputText value="#{loginPageController.selected.id}" title="#{bundle.ViewLoginPageTitle_id}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{loginPageController.destroyAndView}" value="#{bundle.ViewLoginPageDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewLoginPageEditLink}"/>
                <br />
                <h:commandLink action="#{loginPageController.prepareCreate}" value="#{bundle.ViewLoginPageCreateLink}" />
                <br />
                <h:commandLink action="#{loginPageController.prepareList}" value="#{bundle.ViewLoginPageShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewLoginPageIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
